
.item {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.item > *:first-child {
  width: 60%;
}

.list {
  font-family: monospace;
  margin: 0;
  padding: 0;
}

.list > * {
  margin-top: 10px;
}
