
.container {
  display: flex;
  font-size: 1.25rem;
  height: 24px;
  justify-content: space-between;
  line-height: 24px;
}

.container * {
  vertical-align: middle;
}

.exchange-rate {
  display: inline-block;
  text-align: right;
  width: 180px;
}

.name {
  color: lightgray;
  font-size: 0.85em;
  text-transform: capitalize;
}

.logo {
  height: 20px;
  margin-right: 10px;
  width: 20px;
}

.symbol {
  text-transform: uppercase;
}
